.sidebar {
    background-image: linear-gradient(to bottom, #64daac, #0000ff);
    /* Replace with your desired gradient */
}

.navbar {
    background-color: #4e73df; /* Replace this with your desired green color */
   
    font-weight: bold; /* Set the font weight to bold */
}

.nav-link {
    font-weight: bold;
}





